.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.illustration {
  --size: min(80%, 280px);
  width: var(--size);
  height: var(--size);
  background-color: #ebebeb;
  border-radius: 50%;
}

.heading {
  font-size: var(--font-size-md);
  margin: 8px 0 24px;
}

.description {
  max-width: 400px;
}

.link {
  width: min(80%, 280px);
  padding: 8px 16px;
  color: var(--white-100);
  background-color: var(--blue-100);
}
