.home {
  --max-width: 280px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 16px;
}

.illustration {
  width: 120px;
  height: 120px;
  background-color: #ebebeb;
  border-radius: 40px;
  margin-top: -64px;
}

.heading {
  font-weight: 900;
  font-size: var(--font-size-md);
  max-width: var(--max-width);
  margin: 16px 40px;
}

.form {
  width: 100%;
  max-width: var(--max-width);
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form__input,
.form__button {
  width: 100%;
  height: 48px;
  padding: 0 40px;
  border-radius: var(--border-radius-xlg);
}

.form__input {
  text-align: center;
  background-color: #ebebeb;
}

.form__button {
  width: max-content;
  background-color: var(--blue-100);
  color: var(--white-100);
  font-weight: 600;
  cursor: pointer;
}
