.app {
  display: grid;
  isolation: isolate;
}

.container {
  width: min(90%, 640px);
  margin: 0 auto;
}

.user {
  display: flex;
  flex-direction: column;
}

.user .header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.header a {
  text-decoration: none;
}

.header .title {
  font-size: 16px;
  font-weight: 600;
}

.btn__back {
  height: 48px;
  width: 48px;
  background-color: var(--blue-100);
  color: var(--white-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  position: relative;
}

.btn__back::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: max-content;
  color: var(--blue-100);
  background-color: var(--white-100);
  border-radius: 24px;
  padding: 8px 8px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 140%);
  transition: 200ms;
}

.menu {
  position: relative;
}

.btn__menu {
  height: 48px;
  width: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-100);
  border-radius: 50%;
  cursor: pointer;
}

.btn__menu::after,
.btn__menu::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  background-color: currentColor;
  transition: 200ms;
}

.btn__menu::before {
  transform: translate(0, -4px);
}

.btn__menu::after {
  transform: translate(0, 4px);
}

.menu:focus-within .btn__menu::before {
  transform: translate(0, 0) rotate(-45deg);
}

.menu:focus-within .btn__menu::after {
  transform: translate(0, 0) rotate(45deg);
}

.menu__nav {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 130%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-100);
  border-radius: 16px;
  opacity: 0;
  pointer-events: none;
  transition: 300ms;
  padding: 16px 16px;
}

.menu:focus-within .menu__nav {
  opacity: 1;
  transform: translate(0, 110%);
  pointer-events: all;
}

.menu__nav a {
  width: max-content;
  display: block;
  padding: 12px 48px;
  border-radius: 24px;
  font-weight: 600;
}

.menu__nav a:hover {
  background-color: #ebebeb;
}

.user > .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: max(10vh, 80px) 24px;
}

.user .thumbnail {
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.user .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.user .name {
  margin: 12px 0 0;
  font-size: 20px;
}

.user .username {
  color: blue;
  font-size: 20px;
}

.user .company,
.user .location {
  margin: 8px 0;
}

.user .location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content {
  background-color: #fff;
  min-height: 150vh;
  /* border-radius: 40px; */
}

.content .container {
  padding: 80px 0px;
}

.section {
  margin-bottom: 48px;
}

.section .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.stat {
  flex-grow: 1;
  min-width: 100px;
}

.stat .number {
  font-size: 40px;
  font-weight: 600;
}

.repos {
  list-style: none;
  display: grid;
  gap: 24px;
  margin-top: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.repo {
  background-color: #ebebeb;
  padding: 24px 16px;
  border-radius: 24px;
}

.repo__name {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
}

.repo:hover .repo__name {
  text-decoration: underline;
}

.repo__description {
  margin: 8px 0;
}

.repo__stats {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.repo__stat {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 1000px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }

  .user {
    top: 0;
    position: sticky;
    height: 100vh;
  }

  .user > .container {
    padding: 0;
  }

  /* 
.btn__back:hover {
  transform: scale(0.9);
} */

  .btn__back:hover::after {
    opacity: 1;
    transform: translate(-50%, 120%);
    pointer-events: all;
  }

  .content {
    border-radius: 0px;
  }

  .content .container {
    padding: 20px 0px;
  }
}
