.app {
  display: grid;
  isolation: isolate;
}

.container {
  width: min(90%, 640px);
  margin: 0 auto;
}

.user {
  display: flex;
  flex-direction: column;
}

.user > .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 24px;
}

.user .header {
  top: 0;
  position: sticky;
}

.user .thumbnail {
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 48px;
}

.user .name {
  margin: 12px 0 0;
  font-size: 20px;
}

.user .username {
  color: blue;
  font-size: 20px;
}

.user .company,
.user .location {
  margin: 8px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.header a {
  text-decoration: none;
}

.content {
  background-color: #fff;
  min-height: 150vh;
  /* border-radius: 40px; */
}

.content .container {
  padding: 80px 0px;
}

.section {
  margin-bottom: 48px;
}

.section .title {
  font-weight: 600;
  margin-bottom: 8px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.stat {
  flex-grow: 1;
  min-width: 100px;
}

.stat .number {
  font-size: 40px;
  font-weight: 600;
}

.repos {
  list-style: none;
  display: grid;
  gap: 24px;
  margin-top: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.repo {
  background-color: #ebebeb;
  padding: 24px 16px;
  border-radius: 24px;
}

.repo__name {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
}

.repo:hover .repo__name {
  text-decoration: underline;
}

.repo__description {
  margin: 8px 0;
}

.repo__stats {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.repo__stat {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 1000px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }

  .user {
    top: 0;
    position: sticky;
    height: 100vh;
  }

  .user > .container {
    padding: 0;
  }

  .content {
    border-radius: 0px;
  }

  .content .container {
    padding: 20px 0px;
  }
}
